<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Đặt Lại Mật Khẩu</title>
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/forgot_password.css">
</head>

<body>
    <div class="spinner"></div>

    <a href="../templates/login.html" class="back-button">Quay lại</a>

    <div class="dark-mode-toggle">
        <label class="text-label" for="darkModeToggle">Dark Mode</label>
        <label class="switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider"></span>
        </label>
    </div>

    <div class="container">
        <h1>Đặt Lại Mật Khẩu</h1>
        <form>
            <div class="form-group">
                <label for="email">Email của tài khoản</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Gửi Email Đặt Lại Mật Khẩu</button>
        </form>
    </div>

    <script src="../scripts/global.js"></script>
</body>

</html>